body{
  font-family: 'Poiret One', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h3,h4,h5 {
  font-family: "Rakkas", cursive;
  font-weight: 400;
}

.cf:before, .cf:after{
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper{
  width: 1000px;
  max-width: 70%;
  margin: 0 auto;

}
.back{
  float: left;
  position: absolute;
  font-family: serif;
  padding: .66rem 1rem;
  border-radius: 1.5rem .95rem;
  box-shadow: 0 3px 0 0 rgba(51,19,67,.1);
  background-color: grey;
  color: white;
  font-family: "Nunito";
  margin-top: -30px;
  margin-left: -18%;

}
.banner{
  padding: 5em 0;

}
.wrapper h1{
  color: #373638;
  text-align: right;
  font-size: 4em;
  display: inline;
  margin:0;
  float: right;
}
.logo{
  display: inline;
  padding-left: 5px;
  padding-top: 5px;
  float: left;
  color:white;
  background:rgba(229, 5, 69, 0.8);
  border-radius: 50%;
  height:68px;
  width: 68px;
  line-height: 59px;
  font-size: 3em;
  font-family: "Orbitron", cursive;
}

.row{
  width: 100%;
  margin-bottom: 2em;
}
.row::before, .row::after{
  content: "";
  display: table;
}
.row:after{
  clear: both;
}

.work{
  background: #373638;
  padding: 5em 0;
}

.card{
  background: white;
  border-radius: .35em;
  height: 450px;
  display: table;
}
.card-full{
  width:100%;
  min-width: 10%;
}

.card-half{
  width: 48.5%;
  float: left;
}
.left{
  margin-right: 1.5%;
}
.right{
  margin-left: 1.5%;
}
.card-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 1.5em 12%;
  color: white;
}
.card-1{
  background-image: url(images/1.svg);
  background-size: 100%;

  background-position: 100px 20px;
}

.card-2{
  background-image:url(images/2.svg);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: 82% 0px;
}
.card-3{
  background-image: url(images/4.svg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 40% 150px;
}

.card-4{
  background-image: url(images/5.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  height: 400px;
  width: 75%;
  float: left;
  background-position: 353 -20px;
}
.card-inner h2, .card-inner p{
  font-size: 2em;

}
.pink, .green, .purple, .blue{
  border-radius: .35em;
}
.pink{
  background: rgba(229, 5, 69, 0.8);

}
.green{
  background: rgba(80, 218, 93, 0.8);
}
.purple{
  background: rgba(145, 89, 219, 0.8);
}
.blue{
  background: rgba(131, 226, 245, 0.9);
}
.more{
  width: 20%;
  float: left;
  height: 400px;
  padding-left: 3em;
}
.more a{
  text-decoration: none;

}
.more p:hover {
  color:rgba(131, 226, 245, 0.9);
}
.more p{
  font-size: 1.2em;
  font-weight: 700;
  line-height: 400px;
  margin: 0;
  color: white;

}
footer{
  padding: 3em 0;
}
footer .wrapper .logo{
  float: left;
  margin: 0;
}
footer .wrapper ul{
  list-style: none;
  margin: 0;
  padding-top: 1em;

}
footer ul li{
  display: inline;
  float: left;
  margin-left: 8em;
}
footer ul li .title{
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

footer ul li .links{
  margin-top: 4px;
  font-size: 1.5em;
  font-weight: 700;

}
footer ul li .links a{
  text-decoration: none;
  padding-right: 3em;
}
.card{
  transition: 0.2s ease-in;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 150px #000000;
}

@media screen and (max-width:360px)  {

  .back{
    margin-left: 15%;
  }
  .wrapper{
    max-width: 90%;
  }
  .card-half{
    height: 69%;
    width: 100%;
  }
  .more{
    width: auto;
    padding-left: 2em;
    height: 174px;

  }
  .more p{
    font-size: 1.7em;
    font-weight: 700;
    line-height: 281px;
    margin: 15px;
    color: white;
  }
  .card-4{
    width: 100%;
    background-size: 43%;
    background-position: 162px 248px;
  }
  .card-3{
    margin-top: 32px;
  }
  .right{
    margin-left: 0px;
  }
  .back{
    margin-left: 15%:
    font-size: 2.5em;
    background-color: rgb(167, 122, 226);
  }
  .card-4{

  }
  .logo{
    margin-top: 118px;
    width: 95px;
    height: 96px;
    line-height: 97px;
    font-size: 4em;
    margin-left: 96px;
    margin-top: 54px;
    }
  .wrapper h1{
    font-size: 4em;
    text-align: center;
    margin-top: -47px;
  }
  footer ul li .title{
    font-size: 1.5em;
  }
  footer ul li .links{
    font-size: 1.5em;
  }
  footer ul li .links a{
    padding-right: 12px;
  }
  footer ul li{
    margin-left: -1.8em;
    margin-top: -2em;
    margin-bottom: 5em;
  }

  footer .wrapper p {
    display: none;

  }

}
